
<div class="container fluid">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{slide.image.url}}" class="d-block w-50">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{slide.title}}</h5>
              <p>{{slide.comment}}</p>
            </div>
          </div>
          <div class="carousel-item" data-interval="60">
            <img src="{{slide2.image.url}}" class="d-block w-50">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{slide2.title}}}</h5>
              <p>{{slide2.comment}}</p>
            </div>
          </div>
          <div class="carousel-item" data-interval="60">
            <img src="{{slide3.image.url}}" class="d-block w-30">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{slide3.title}}}</h5>
              <p>{{slide3.comment}}</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
       </div>
     <!-- banner section done  -->
</div>