<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>sexyapp | {% block title %} {% endblock title %}</title>
  </head>
  <body>
     <!-- header section -->
     <nav class="navbar navbar-expand-lg navbar-light ">
         <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="{%  static '' %}pics/tw2.jpg" width="50px" alt="..."></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link active" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'categories' %}">All Categories</a>
                  {% if categories %}
                    {% for item in categories %}
                      <a class="dropdown-item" href="{% url 'category' item.id %}">{{item.title}}</a>
                    {% endfor %}
                  {% endif %}
                </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'products' %}">Product</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'logoutt' %}">Logout</a>
              </li>
              
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'password' %}">
                    
                    {% if user %}
                      {{request.user.username}}
                    {% endif %}
                      
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'cart' %}">
                  <li class="nav-item">
                    <span class="badge badge-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                      <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                    </svg>
                    
                    {% if cartreader > 0 %}
                        <span class="badge badge-warning">{{cartreader}}</span>
                    {% else %}
                        <span class="badge badge-warning">0</span> 
                    {% endif %}
                  </span>
                </li>
              </a>
              </li>
                
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'loginform' %}">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'signupform' %}">Signup</a>
              </li>
              {% endif %}
              
            
            </ul> 
        </div>
      </nav>

     <!-- header section done  -->

     <!-- ALERT meassegs  -->
     
     {% if messages %}
      {% for item in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{item}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
     {% endif %}
       
     <!-- ALERT meassegs done -->

     <!-- banner section  -->
     <!-- <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">OBIDI VICTOR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Enquires</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Comment</a>
              </li>
            </ul>
        </div>
      </nav> -->
    
      {% block banner %} {% endblock banner %}
      
      
      <!-- content section  -->
      {% block content %}
      
      {% endblock content %}
      <!-- content section done -->
      
      
      
      <!-- footer section  -->
    <div class="containter-fluid text-center bg-info p-3 ml 50%">
      <p>copyright &copy; 2021 Anchoersoft Academy</p>
      <a href=""></a><p>designed:NEO-X</p>
    </div>
      <!-- footer section done  -->
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   
  </body>
</html>

