{% extends "base.html" %}



{% block title %}
    All Categories 
{% endblock title %}


{% block content %}
  <!-- content section  -->
  <div class='container fliud mt-5 mb-5'>
      <h1>All Categories</h1>
    <div class="row">
        {% if categories %}
          {% for item in categories %}
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mt-3 mb-3 w-25">
                <div class="card">
                  <a href="{% url 'category' item.id %}"><img src="{{item.image.url}}" class="card-img-top"></a>
                  <div class="card-body">
                    <a href="{% url 'category' item.id %}"><h5 class="card-title">{{item.title}}</h5></a>
                  </div>
                </div>
              </div>
          {% endfor %}
        {% endif %}
    </div>
  </div>

  <!-- content section done -->
{% endblock content %}